/* HeroesComponent's private CSS styles */
.products {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;

  }
  .products li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 2.2em;
    border-radius: 4px;
  }
  .products li:hover {
    color: rgb(221, 20, 13);
    background-color: #DDD;
    left: .1em;
  }
  .products li.selected {
    background-color: #CFD8DC;
    color: rgb(255, 255, 255);
  }
  .products li.selected:hover {
    background-color: rgb(15, 211, 64);
    color: rgb(250, 248, 248);
  }
  .products .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2.6em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .btn-primary {
    color: rgb(11, 30, 199);
    background-color: transparent;
    border-color: transparent;
    font-size: large;
  }

  table {
    border-collapse: collapse;
  }

  table, th, td {
    border: 1px solid black;
  }

  .productsNav
  {
    font-weight: bold;
    color:black;
    font-size: 30px;
  }

  .navbar
  {
    padding: 0.5rem 0rem;
  }

  .btn-secondary
  {
    background:#008BFF;
    position: relative;
    top: 5px;
    width: 110px;
    border-radius: 12px;
    border: 1px solid black;
  }

  .btn-Add
  {
    width: 110px;
    background:#008BFF;
    border-radius: 12px;
    height: 48.4px;
    position: relative;
    top: 5px;
    border: 1px solid black;
    color: white;
    font-weight: bold;
  }

 .addButton
 {
   padding-left: 31px;
 }

  .shopCart
  {
    padding-left: 35%;
  }

 .aliniere
 {
   text-align: center;
 }

 .row
 {
   margin-left: -30px;
   margin-right: 0px;
 }

 .row.container
 {
   width: 1200px;
 }
