<div *ngIf="product" class="container mt-5">

  <nav class="navbar">
    <div class="row container">
      <div class="col-6">
        <span class="productsNav ">Add a new product</span>
      </div>
    </div>
  </nav>


  <div class="container mt-4">

    <div class="row container pr-0 ">
      <div class="col-1 pl-0 pt-1 mb-3 mt-2"><h4> Name </h4></div>
      <div class="col-11 pr-0 mb-3">
        <input class="productInfo w-100 ml-2 mt-2" #productName/>
      </div>
    </div>

    <div class="row container pr-0 ">
      <div class="col-1 pl-0 pt-1 mb-3 mt-4"><h4> Category </h4></div>
      <div class="col-11 pr-0 mb-3">
        <input class="productInfo w-100 ml-2 mt-4" #productCategory/>
      </div>
    </div>

    <div class="row container pr-0 ">
      <div class="col-1 pl-0 pt-1 mb-3 mt-4"><h4> Image </h4></div>
      <div class="col-11 pr-0 mb-3">
        <input class="productInfo w-100 ml-2 mt-4" #productImage/>
      </div>
    </div>

    <div class="row container pr-0 ">
      <div class="col-1 pl-0 pt-1 mb-3 mt-4"><h4> Price </h4></div>
      <div class="col-11 pr-0 mb-3">
        <input class="productInfo w-100 ml-2 mt-4" #productPrice/>
      </div>
    </div>

    <span class="productInfoDescription w-auto">
           <textarea class="mt-4 w-99 pr-0" #productDescription> </textarea>
          </span>


    <div class="row container pr-0">

      <div class="col-8"></div>
      <div class="col-4 pr-0">

        <div class="d-flex flex-row-reverse bd-highlight">
          <div class="ml-4 mr-0 bd-highlight">
            <button class="btn btn-secondary1" (click)="goBack()"> CANCEL</button>
          </div>

          <div class=" bd-highlight">
            <button class="btn btn-secondary"
                    (click)="add(productName.value,productCategory.value,productImage.value,productPrice.value,productDescription.value)">SAVE
            </button>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
